# Lettura Dataset e creazione csv

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataSet = pd.read_csv("heart_failure_clinical_records_dataset.train.csv")

dataSet

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
1,1,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
2,1,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
3,0,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
4,1,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,0,60.667,1,151,1,40,1,201000.00,1.00,136,0,0,172
235,0,58.000,0,582,1,35,0,122000.00,0.90,139,1,1,71
236,0,55.000,0,748,0,45,0,263000.00,1.30,137,1,0,88
237,0,44.000,0,582,1,30,1,263358.03,1.60,130,1,1,244
238,0,80.000,0,898,0,25,0,149000.00,1.10,144,1,1,87

In [3]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DEATH_EVENT               239 non-null    int64
 1   age                       239 non-null    float64
 2   anaemia                   239 non-null    int64
 3   creatinine_phosphokinase  239 non-null    int64
 4   diabetes                  239 non-null    int64
 5   ejection_fraction         239 non-null    int64
 6   high_blood_pressure       239 non-null    int64
 7   platelets                 239 non-null    float64
 8   serum_creatinine          239 non-null    float64
 9   serum_sodium              239 non-null    int64
 10  sex                       239 non-null    int64
 11  smoking                   239 non-null    int64
 12  time                      239 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 24.4 KB

In [4]:
train, test = train_test_split(dataSet, test_size=0.20, random_state=0)
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

print("dataset ->", dataSet.shape)
print("train_set -> %s, with percent %.8f" %(train.shape, train.shape[0]/dataSet.shape[0]))
print("test_set -> %s, with percent %.8f" %(test.shape, test.shape[0]/dataSet.shape[0]))
print(train.shape[0]+test.shape[0]==dataSet.shape[0])

dataset -> (239, 13)
train_set -> (191, 13), with percent 0.79916318
test_set -> (48, 13), with percent 0.20083682
True